<h4></h4>
            <h4>21/03/2015 - 12:30 @ Blah</h4>
            <h5>Location name</h5>
            <p>Address... - <a href="#">Map</a></p>

            <div class="row">
              <div class="col-sm-4">Number of sits: <div class="badge">42</div></div>
              <div class="col-sm-4">Ticket price: <div class="badge">42</div></div>
              <div class="col-sm-4">Projector: <div class="badge">Yes</div></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Number of sits: <div class="badge">42</div></div>
              <div class="col-sm-4">Ticket price: <div class="badge">42</div></div>
              <div class="col-sm-4">Projector: <div class="badge">Yes</div></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Number of sits: <div class="badge">42</div></div>
              <div class="col-sm-4">Ticket price: <div class="badge">42</div></div>
              <div class="col-sm-4">Projector: <div class="badge">Yes</div></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Number of sits: <div class="badge">42</div></div>
              <div class="col-sm-4">Ticket price: <div class="badge">42</div></div>
              <div class="col-sm-4">Projector: <div class="badge">Yes</div></div>
            </div>
