<div class="jumbotron">
      <div class="container">
      	<div class="center">
      	<h1>Open Cinema</h1>
      	<h2>The Easiest Way to Create Your own Cinema</h2> 
      	<%= link_to "Get Started Today", new_user_registration_path ,class: "btn btn-primary btn-lg" %>
      	<%= link_to "Or view current listings", listings_path ,class: "btn btn-primary btn-lg" %>
      </div>
</div>
 