@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);


body {
  background-color: #F5F5F1;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}



.center {
  text-align: center;
}

.jumbotron {
 
  background-image: url('https://dl.dropboxusercontent.com/s/dtqgjyonx0upzky/Canberra.jpg');
  background-attachment: fixed;
  height: 900px; 
  margin: 0px;
  background-size: cover;
  background-position: center;
  h1 {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 2px 3px #555;
  }

  h2 {

    color: #fff;
    text-shadow: 0px 2px 3px #555;
    margin-bottom: 80px;
  }

  h3 {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lato','Hobo Std';}

  
  .btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
}


.jumbotron1 {
 
  background-image: url('https://dl.dropboxusercontent.com/s/dtqgjyonx0upzky/Canberra.jpg');
  background-attachment: fixed;
  height: 1200px; 
  margin: 0px;
  background-size: cover;
  background-position: center;
}
  

